{% extends "base.html" %}

{% block body %}
  <h1>Job Listings</h1>
    {% for job in jobs %}
      <div class="job-listing">
          <h2>{{ job['Title'] }}</h2>
          <p>Company: {{ job['Company'] }}</p>
          <p>Category: {{ job['Category'] }}</p>
          <p>Salary: {{ job['Salary'] }}</p>
          <div class="description-summary">
              {{ job['Description'][:300] }}...
              <span class="more-text" style="display:none;">{{ job['Description'][300:] }}</span>
          </div>
          <a href="{{ url_for('job_details', webindex=job['Webindex']) }}">Read More</a>
      </div>
    {% endfor %}

  <div class="pagination">
    {% if page > 1 %}
      <a href="{{ url_for('homepage', page=1) }}">First</a>
      <a href="{{ url_for('homepage', page=page-1) }}">Previous</a>
    {% endif %}

    {% set start_page = [page-2, 1] | max %}
    {% set end_page = [page+2, total_pages] | min %}

    {% for p in range(start_page, end_page+1) %}
      <a href="{{ url_for('homepage', page=p) }}"
         class="{% if p == page %}current{% endif %}">{{ p }}</a>
    {% endfor %}

    {% if page < total_pages %}
      <a href="{{ url_for('homepage', page=page+1) }}">Next</a>
      <a href="{{ url_for('homepage', page=total_pages) }}">Last</a>
    {% endif %}
  </div>
{% endblock %}